// palette
$color-primary: #0fa3b1;
$color-primary-light: #66ccd9;
$color-primary-dark: #0c8695;

$color-secondary: #b5e2fa;
$color-secondary-light: #f1f9ff;
$color-secondary-dark: #85c8f0;

$color-background: #f9f7f3;
$color-background-light: #ffffff;
$color-background-dark: #eceae6;

$color-accent1: #eddea4;
$color-accent1-light: #fff9e6;
$color-accent1-dark: #d8c775;

$color-accent2: #f7a072;
$color-accent2-light: #fff0e6;
$color-accent2-dark: #e68052;

$color-accent3: #cd8b76;
$color-accent3-light: #fff4f0;
$color-accent3-dark: #ab725b;

$color-accent4: #8d3b72;
$color-accent4-light: #f7f1f6;
$color-accent4-dark: #6e305a;

// font
$font-primary: 'Wix Madefor Display', sans-serif;
$font-secondary: 'Poppins', sans-serif;