.section {
  height: 83vh;
  padding: 2rem;

  @media screen and (max-width: 1200px) {
    background: pink;
  }

  @media screen and (max-width: 768px) {
    background: green;
    height: auto;
  }

  @media screen and (max-width: 480px) {
    background: red;
  }
}
