.section {
  // height: 83vh;
  min-height: 83vh;
  padding: 2rem;

  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 768px) {
    height: auto;
  }

  @media screen and (max-width: 480px) {
  }
}
